.footer {
  padding-left: 70px;
  padding-right: 70px;
}

.footer__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 0 19px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__info {
  display: flex;
  flex-direction: row;
}

.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
}

.footer__link {
  color: #000000;
  text-decoration: none;
}

.footer__year {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 968px) {
  .footer {
    margin-top: 50px;
  }
}

@media screen and (max-width: 482px) {
  .footer__info {
    align-items: center;
    flex-direction: column;
  }
  .footer__links {
    padding-left: 0;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
  .footer__title {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    /*width: 300px;*/
  }
}

@media screen and (max-width: 320px) {
  .footer__title {
    width: 300px;
  }
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
