.techs {
    background: #F5F5F5;
}

.techs__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    padding-bottom: 110px;
}

.techs__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 90px;
    height: 60px;
    text-align: center;
    letter-spacing: -0.04em;
    background: #E8E8E8;
    border-radius: 10px;
    color: #000000;

    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.techs__number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 90px;
    margin-bottom: 26px;
}

.techs__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 100px;
}